.App {
  text-align: center;
  background-color: rgb(240, 226, 200);
  height: 100%;
}

.Header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Header-Text {
  font-family: cursive;
  font-size: 60px;
  color: rgb(14, 13, 70);
  margin-bottom: 10px;
  margin-top: 20px;
}

.NavBarHome {
  font-size: 40px;
  margin-bottom: 10px;
}

.NavBarArticlesPage {
  font-size: 40px;
  margin-bottom: 10px;
  color: blue;
}

.Image {
  margin-top: 10px;
  width: 150px;
  margin: 0px;
}

.Articles-List {
  list-style-type: none;
}

.More-Articles-Button {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 5vw;
  background-color: rgba(173, 29, 125, 0.5);
  color: white;
  font-family: "Comfortaa", cursive;
  text-align: center;
  display: block;
}

.Previous-Articles-Button {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100px;
  font-size: 5vw;
  background-color: rgba(173, 29, 125, 0.5);
  color: white;
  font-family: "Comfortaa", cursive;
  text-align: center;
  display: block;
}
