.App {
  text-align: center;
  background-color: rgb(240, 226, 200);
  height: 100%;
}

.Header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Header-Text {
  font-family: cursive;
  font-size: 60px;
  color: rgb(14, 13, 70);
  margin-bottom: 10px;
  margin-top: 20px;
}

.NavBarHome {
  font-size: 40px;
  margin-bottom: 10px;
}

.NavBarArticlesPage {
  font-size: 40px;
  margin-bottom: 10px;
  color: blue;
}

.Image {
  margin-top: 10px;
  width: 6em;
  height: 6em;
  margin: 0px;
}

Main {
  height: 100%;
}

.Articles-List {
  list-style-type: none;
  border-width: 100px lightgreen;
  margin-left: 13em;
}

.Article-List-Item {
  border: solid 5px rgb(145, 145, 233);
  width: 80%;
  border-right: 20%;
  margin-bottom: 20px;
}

.Article-Title {
  font-family: cursive;
  margin-bottom: 0px;
  border: lightgreen;
}

.Article-Topic {
  font-style: bold;
}

.Article-Author {
  font-style: italic;
}

.Articles-Voter {
  margin-bottom: 25px;
}

.DropBox {
  background-color: rgb(145, 192, 83);
}

.Comments-List {
  position: absolute;
  list-style-type: none;
  background-color: rgb(240, 226, 200);
  margin-top: 0em;
}

.Comments-List-Item {
  border: solid 5px rgb(145, 145, 233);
  margin-top: 1em;
}

.Submit-Comment {
  background-color: green;
  margin-left: 0.5em;
}

.Delete-Button {
  margin-bottom: 3em;
}

.Votes-Plus-Button {
  position: relative;
  left: 7.3em;
  top: 2.6em;
  background-color: green;
}

.Votes-Minus-Button {
  position: relative;
  top: -2.6em;
  left: -7em;
  background-color: red;
}

.Loader {
  height: 100%;
}

.Login {
  height: 100vh;
  background-color: rgb(240, 226, 200);
}
